<div class="row">
        		<div class="col-xs-4">
                      <div class="list-group">
                      <a href="" class="list-group-item active" ng-click="resetUser()">Online Users <span class="label label-danger" ng-if="selectedUser">Reset</span></a>
                        <a ng-repeat="u in users" href="" class="list-group-item" ng-click="selectUser(u.username)">
                        {{u.username}}
                        <span ng-if="isSelected(u.username)" class="label label-success">Selected</span>
                        </a>
                      </div>
        		</div>
        		<div class="col-xs-8 chat-box">
        			<h4>Messages</h4>
	        		<div ng-repeat="message in messages">
	       	 			<strong>{{message.data.from.username}}</strong> : {{message.data.content}} 
                        <span ng-if="message.data.private" class="label label-info">PRIVATE</span>
	      			</div>
        		</div>
        	</div>
        	<div class="row">
       			<div class="form-group">
       			  <span><small>You will send this message to <strong>{{selectedUser}}</strong></small></span>
				  <input id="newMessageInput" type="text" class="form-control" placeholder="Write your message and hit enter..." ng-model="newMessage" ng-keyup="$event.keyCode == 13 ? sendMessage() : startTyping()"/>
				</div>
        	</div>
	    </div>